<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head')%>
  <body>
    <%- include('includes/header')%>

    <main>
      <h4>Welcome to the dashboard</h4>

      <ul>
        <% posts.forEach(post =>{ %>
        <li>
          <a href="/posts/<%= post.id %>"> <%=post.title%>: on --<%= new Date(post.createDate).getMonth()+1%> /<%= new
            Date(post.createDate).getDate() %> /<%= new
            Date(post.createDate).getFullYear() %>
          </a>
        </li>
        <% })%>
      </ul>
    </main>
    <%- include('includes/footer')%>
    <script src="index.js"></script>
  </body>
</html>
